h1{color: teal;} /*названия цвета*/
h2{color: #008080;} /*шестнадцатеричным кодом*/
h3{color: rgb(0, 128, 128);} /*моделью RGB*/
h4{color: hsl(180, 100%, 25%);} /*моделью HSL*/
h5{color: rgba(0, 128, 128, 0.75);} /*моделью RGBA*/
h6{color: hsla(180, 100%, 25%, 0.45);} /*моделью HSLA*/
